.page{
    overflow:hidden;
}
.container-fluid{
    height: 50px;
}
#panneau{
    margin-top:-20px;
}
.contenu-page{
    margin-left:4%;
    margin-right:4%;
}
p{
    padding-left: 2%;
    padding-right: 2%;
}
.news{
    margin-left:1%;
    margin-right: 1%;
}
.row{
    margin-left:1%;
    margin-right: 1%;
}
[class*="col"] { margin-bottom: 20px; }
img { width: 100%; }
  
.fa {        
padding: 20px;
font-size: 30px;
width: 50px;
text-align: center;
text-decoration: none;
}
th, td{
    text-align: center;
}
td:nth-child(2) {
    text-align: left;
}
        
@media all and (max-width: 768px){
    .container-fluid{
        height: 100%;
    }
    table thead{
		display:none;
    }
    tbody{
        border: none;
        border-color: black;
    }
    table tr,td{
        display:block;
    }
    tr{
        width: 90%;
		border:1px solid silver;
		border-radius:12px;
		margin-bottom:4px;
    }
    .table-bordered>tbody>tr>td {
        border: none;
    }

}
@media all and (max-width: 480px){
    body{font-size: 11px;}
   h1{ font-size: 20px;}
	h2,
	h3{
		font-size: 15px;
	}
	p,
	figure,
	ul,a, legend{
		font-size: 13px;
	}
}